<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <title>My Tech Library</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1> My Tech Library </h1>
      <ul class="plain">
        <% if current_user %>
        <li><%= link_to "Log out", log_out_path %></li>
          <% else %>
             <li><%= link_to "Sign up", sign_up_path %></li>
             <li><%= link_to "log in", log_in_path %></li>
            <% end %>
        <li><%= link_to "Add a book", new_book_path %></li>
        <li><%= link_to "Home", books_path %></li>
    </ul>
  </header>

    <% flash.each do | name, message | %>
    <div id="flash_<%= name %>" >
    <% message %>
    </div>
  <% end %>

  <div>
    <%= render 'books/search' %>
</div>

  <%= yield %>

</body>
</html>
